<div class="teamstyle">
    <% if (print) { %>
            <img src= "<%= print.teamLogo %>" id="logoId"/>
            <br><br><hr>
            <label for=""><span><b>Name:</b></span><%= "\t" + print.city + "\t" + print.name %></label><br><hr>
            <label for=""><span><b>City:</b></span><%= "\t" + print.city %></label><br><hr>
            <label for=""><span><b>Conference:</b></span><%= "\t" + print.conference%></label><br><hr>
            <label for=""><span><b>Division:</b></span><%= "\t" + print.division%></label><br><hr>
            <label for=""><span><b>Abbreviation:</b></span><%= "\t" + print.key%></label><br><hr>                          
    <% } %>
</div> 

