<div class="teamstyle">
    <% if (print) { %>
            <img src= "<%= print.teamLogo %>"/>
            <label for=""><span>Team Name:</span><%= "\t" + print.City + "\t" + print.Name %></label><br>
            <label for=""><span>City:</span><%= "\t" + print.City %></label><br>
            <label for=""><span>Conference:</span><%= "\t" + print.Conference%></label><br>
            <label for=""><span>Division:</span><%= "\t" + print.Division%></label><br>
            <label for=""><span>Key:</span><%= "\t" + print.Key%></label><br>                          
    <% } %>
</div> 

